<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>MeetingRecorder</string>
    <key>CFBundleIdentifier</key>
    <string>com.chrisvaillancourt.HearSay</string>
    <key>CFBundleName</key>
    <string>MeetingRecorder</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone to record meeting audio.</string>
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera for picture-in-picture recording.</string>
    <key>NSDesktopFolderUsageDescription</key>
    <string>We need access to save recordings to your Movies folder.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>We need access to save recordings.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>We need access to save transcripts.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>We use speech recognition to transcribe your meetings locally.</string>
</dict>
</plist>
